
.App{
  text-align: center;
  color: white;
}

.SearchBar{

  width: auto;
  height: auto;
  margin: 200px;
  align-items: center;
  justify-content: space-around;
}

.buttonInfo{
  margin-left: 100px;
  display: flex;
  position:absolute
}

.buttonComment {
   margin-right: 400px; */
  display: flex;
  margin-top: 0px;
  position:relative;
  background-color: #282c34;

}

#closeButton{
  margin-right: 700px
}
#commentsView{
  color: black;
  overflow: auto
}

#SignIn{
  background-color: #007bff
}

#registerNow{
  margin-top: 70px
}

#commentsForm{
  margin-bottom: 1px;
}

.modal {

    overflow-y: scroll;
}
