/* .Home-Pic{
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 5px;
} */


.App{
  text-align: center;
  color: white;
}

.SearchBar{

  width: auto;
  height: auto;
  margin: 200px;
  align-items: center;
  justify-content: space-around;
}


/* .App {
  text-align: center;
  background-color: #282c34;


} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
   min-height: 100vh;

  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
